<h2>SINGUP</h2>
<form action="/api/users" method="post">
  First_name:
  <input type="text" name="first_name" id="fisrt_name" />
  Last_name:
  <input type="text" name="last_name" id="last_name" />
  Email:
  <input type="email" name="email" id="email" />
  Password:
  <input type="password" name="password" id="password" />
  <input type="submit" value="SINGUP" />
</form>